extends layout

block content
  div.header-container
    img#logo(src='/techcrafters.png', alt='TechCrafters Logo')
    h1.build-title Build Your PC

  form.form-section(action="/submit-build" method="post")
    fieldset
      legend Name Your Build
      .form-row
        label(for="build-name") Build Name
        input(type="text" name="buildName" id="build-name" placeholder="Enter a name for your build" required)

      extends layout

block content
  div.header-container
    img#logo(src='/techcrafters.png', alt='TechCrafters Logo')
    h1.build-title Name & Build Your PC

  form.form-section(action="/submit-build" method="post")
    fieldset
      legend Name Your Build
      .form-row
        label(for="build-name") Build Name
        input(type="text" name="buildName" id="build-name" placeholder="Enter a name for your build" required)

      legend Choose Your Components

      .form-row
        label(for="cpu") CPU
        select(name="cpu" id="cpu-select" required)
          each cpu in cpus
            option(value=cpu.name + ' - $' + cpu.price) #{cpu.name} - $#{cpu.price}

      .form-row
        label(for="motherboard") Motherboard
        select(name="motherboard" id="motherboard-select" required)
          each mb in motherboards
            option(value=mb.name + ' - $' + mb.price) #{mb.name} - $#{mb.price}


      .form-row
        label(for="gpu") GPU
        select(name="gpu" id="gpu-select")
          each gpu in gpus
            option(value=gpu.id) #{gpu.name} - $#{gpu.price}

      .form-row
        label(for="memory") Memory
        select(name="memory" id="memory-select")
          each mem in memory
            option(value=mem.id) #{mem.name} - $#{mem.price}

      // The rest of the components follow a similar pattern
      .form-row
        label(for="case") Case
        select(name="case" id="case-select")
          each caseItem in cases
            option(value=caseItem.id) #{caseItem.name} - $#{caseItem.price}


      .form-row
        label(for="case-fan") Case Fan
        select(name="case-fan" id="case-fan-select")
          each fan in case_fans
            option(value=fan.id) #{fan.name} - $#{fan.price}

      .form-row
        label(for="cpu-cooler") CPU Cooler
        select(name="cpu-cooler" id="cpu-cooler-select")
          each cooler in cpu_coolers
            option(value=cooler.id) #{cooler.name} - $#{cooler.price}

      .form-row
        label(for="internal-hard-drive") Internal Hard Drive
        select(name="internal-hard-drive" id="internal-hard-drive-select")
          each hdd in internal_hard_drives
            option(value=hdd.id) #{hdd.name} - $#{hdd.price}

      .form-row
        label(for="power-supply") Power Supply
        select(name="power-supply" id="power-supply-select")
          each psu in power_supplies
            option(value=psu.id) #{psu.name} - $#{psu.price}

      .form-row
        label(for="sound-card") Sound Card
        select(name="sound-card" id="sound-card-select")
          each sc in sound_cards
            option(value=sc.id) #{sc.name} - $#{sc.price}

      input.form-button(type="submit" value="Build")

  script(src='/js/updateComponents.js')
  script(src='/js/buildPcFormHandler.js')
